<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><h5>Choice Coin</h5></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="margin-left: 3rem;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/config">Configurations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/voter/create">Add A Voter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/position/create">Add A Position</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/candidate/create">Add A Candidate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/start">Start A New Vote</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/vote">Participate In Voting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/end">End Voting</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--section>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="../">
        <img src="https://choice-coin.com/Screenshot 2021-06-25 at 23-38-44 Logo Maker Used By 2 3 Million Startups.png" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</section-->

<!--section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="../">Choice Coin</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="../"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href = '/config'>Configurations</a>
            </li>
          <li>
            <a href = '/voter/create'>Add a voter</a>
            </li>
            <li>
              <a href = '/candidate/create'>Add a candidate</a>
              </li>
            <li>
              <a href = "/start">Start Electoral Voting Process</a>
            <li>
              <a href="/vote">Participate in Voting Process</a>
            </li>
            <li>
              <a href = "/end">End Voting Process</a>
              </li>
        </ul>
      </nav>
    </div>
  </section-->

