* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.IRE__form-group {
  width: 70%;
  margin: auto;
  font-family: "Inter", sans-serif;
  position: relative;
  .IRE__form-group--floating-label {
    font-size: 12px;
    color: #043b7c;
    position: absolute;
    top: 25%;
    left: 20px;
    font-weight: 400;
    transition: all 0.2s linear;
    padding: 0 0.2em;
  }
  input {
    width: 100%;
    position: relative;
    background-color: transparent;
    z-index: 1000;
    display: block;
    height: 40px;
    border: 1px solid #3d85d8;
    border-radius: 4px;
    padding: 0 spacer(sm);
    color: #1e4c82;
    font-size: 13px;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      color: #1e4c82;
      -webkit-text-fill-color: #1e4c82;
    }
  }
  input:focus + .IRE__form-group--floating-label,
  &.filled .IRE__form-group--floating-label {
    z-index: 1010;
    top: -5px;
    transition: all 0.2s linear;
    background-color: white;
    padding: 0 spacer(xxxs);
  }
}
.inner-container {
  width: 100%;
}

.main-body {
  margin: auto;
  width: 100%;
  text-align: center;
}
.IRE__button {
  border-radius: 20px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 40px;
  cursor: pointer;
  padding: 0 spacer(md);
  &.left {
    svg {
      margin-right: auto;
    }
  }
  &.IRE__button--icon {
    min-width: 50px;
    justify-content: space-between;
    padding: 0 spacer(md);
    span {
      margin-left: 1em;
    }
  }
  &.right {
    svg {
      margin-left: auto;
    }
  }
  &[disabled="true"] {
    background: #ebebeb;
    color: #323840;
    opacity: 0.65;
    svg rect {
      fill: #323840;
      stroke: #323840;
    }
    &:hover {
      background: #ebebeb;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

.IRE__button-primary {
  background: #043b7c;
  color: white;
  width: 30%;
  margin: auto;
  &:hover {
    background: #054795;
  }
  svg {
    g rect {
      fill: white;
    }
    path {
      fill: white;
    }
  }
}

.button-container {
  text-align: center;
}
.powered {
  display: flex;
  align-items: center;
  margin-top: 2em;
  p {
    margin-right: 1em;
    color: #333;
    font-size: 12px;
  }
  img {
    object-fit: cover;
    width: 50px;
  }
}
