.voting_cont {
  width: 100%;
  min-height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0vh 13vw 10vh;
  font-family: pangram;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.voting_inn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.v1 {
  width: 35%;
  display: flex;
  height: 100%;
  flex-direction: row;
  position: relative;
}

.v1_inn {
  width: 100%;
  position: relative;
}

.line_wrapper {
  left: 2px;
  width: 0.32vw;
  margin-top: 1px;
  height: calc(100% - 2px);
  overflow: hidden;
  position: absolute;
  background-color: #eaeaea;
  transition: background-color 0.25s ease-out;
}

.actual_line {
  width: 100%;
  height: 100%;
  background-color: #bbb;
  transition: all 0.7s;
}

.anchor_list {
  width: 100%;
  height: 100%;
  left: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.anchor_2 {
  display: none;
  flex-direction: row;
  margin-bottom: 45px;
  color: #3a4be8;
  font-weight: 700;
  justify-content: space-between;
}

.anchor_2 li {
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 10px;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.05);
}

.anchor_list li {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  cursor: pointer;
}

.anchor_list li:first-child {
  align-items: flex-start;
}

.anchor_list li:last-child {
  align-items: flex-end;
}

.ball {
  display: block;
  margin-right: 0.82vw;
  width: calc(0.32vw + 4px);
  height: calc(0.36vw + 4px);
  border-radius: 100%;
  background: transparent;
  border: 2px solid #3a4be8;
  transition: background-color 0.25s ease-out, border-color 0.25s ease-out;
}

.anc_capt {
  margin-top: 1px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
}

.v2 {
  flex: 1;
  font-size: 14px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}

.vot_scroll {
  top: 0px;
  width: 400%;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vot_scroll_sect {
  width: calc(100% / 4);
}

.v2 .hd_sect {
  margin-bottom: 20px;
}

.v2 .hd_txt {
  font-size: 18px;
  color: #3a4be8;
  font-weight: 700;
  margin-bottom: 11px;
}

.hd_sub {
  color: #aaa;
  font-size: 12px;
}

.login_warn {
  top: 70px;
  display: flex;
  padding: 20px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-size: 14px;
  font-weight: 505;
  color: #e02626;
}

.vot_sect {
  width: 86%;
  width: 100%;
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  flex-direction: column;
}

.for_r1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.inpCont {
  width: calc(50% - 10px);
  margin: 0px 0px 25px;
}

.inpCont_full {
  width: 100%;
}

.inpCont_cand {
  width: 100%;
}

.inpCont .ttl {
  font-size: 13px;
  margin-bottom: 12px;
  padding-left: 2px;
  color: #333;
  font-weight: 550;
}

.inpCont input {
  width: 100%;
  font-size: 13px;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.inpCont input::placeholder {
  font-size: 12px;
  color: #777;
  letter-spacing: 0.3px;
}

.add_item_sect {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.add_item_sect .add_butt {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  color: #3a4be8;
  font-size: 13px;
  margin-left: 20px;
  padding: 8px 15px;
  border-radius: 10px;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
}

.add_item_sect .add_butt div {
  color: #fff;
  width: 18px;
  height: 18px;
  display: flex;
  font-size: 12px;
  margin-right: 10px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  background: #3a4be8;
}

.item_list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 15px;
  justify-content: space-between;
}

.item_list p {
  flex: 1;
  padding: 9px 15px;
  background: rgba(0, 0, 0, 0.05);
}

.rm_butt {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  color: #3a4be8;
  font-size: 13px;
  margin-left: 20px;
  padding: 9px 15px;
  border-radius: 10px;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
}

.ensure_txt {
  font-size: 11px;
  color: #aaa;
  margin-top: 10px;
}

.buttCont {
  margin: 0px 0px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.buttCont button {
  color: #fff;
  font-size: 12px;
  background: #3a4be8;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.4px;
  white-space: nowrap;
}

.buttCont a {
  font-size: 12px;
  color: #555;
  padding: 0px 5px;
}

.safety {
  color: #999;
  font-size: 12px;
  font-weight: 550;
  padding-left: 15px;
}

.safety span {
  line-height: 20px;
}

.list_elect_hd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.list_elect_hd div:nth-child(2) {
  width: 35%;
}

.list_elect {
  margin-bottom: 20px;
}

.list_elect li {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.act_butt {
  display: flex;
  cursor: pointer;
  font-weight: 600;
  color: #3a4be8;
  font-size: 12px;
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  white-space: nowrap;
  flex-direction: row;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
}

.act_butt_2 {
  color: orangered;
}

@media (max-width: 650px) {
  .login_warn {
    font-size: 13px;
    font-weight: 500;
    color: #e02626;
  }
  .vot_sect {
    width: 90%;
  }
}

@media (max-width: 1020px) {
  .voting_cont {
    padding: 0vh 7vw 10vh;
  }
  .vot_sect {
    width: 100%;
  }
  .v1 {
    display: none;
  }
  .anchor_2 {
    display: flex;
  }
  .voting_inn {
    flex-direction: column;
  }
}

@media (max-width: 620px) {
  .buttCont {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .safety {
    font-size: 11px;
    padding: 0px;
    margin-bottom: 10px;
  }
}
