* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-bg {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  font-family: "Nanum Gothic", sans-serif;
}

.navbar {
  display: fixed !important;
  /* z-index: 100; */
}

.btn,
.btn:visited {
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
}

.btn:focus,
.btn:active {
  outline: 0 !important;
  box-shadow: none;
  transform: translateY(-0.1rem);
}

.vote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  background-color: none;
  border: none;
}
.vertical_line {
  border-left: 3px solid #fff;
  height: 22px;
}

.inputt,
.inputt:active,
.inputt:focus,
.inputt:focus:active,
.blue,
.blue:active,
.blue:focus,
.blue:focus:active {
  background-color: #ffffff !important;
  border: none;
  color: #000;
  outline: none;
  height: 3rem;
  text-indent: 10px;
  width: 220px;
  border-radius: 3px;
}

body {
  color: #eeeeee;
  /* background-image: radial-gradient(#000565 0.65px, #192e3a 0.65px); */
  /* background-size: 13px 13px; */
}
.form {
  background-color: #ffffff;
  color: #192e3a;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  width: 420px;
}

.highlight {
  background-color: rgb(39, 39, 39);
}

.textinput {
  text-align: center;
  padding: 5px;
  font-size: 10px;
}

.textinput2 {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
}

#choice_text,
#choice_value {
  width: auto;
}

#notify {
  background-color: #dadada;
  border-radius: 5px;
  color: #000;
  justify-content: center;
  align-items: center;

  padding: 6px;
}

#notification {
  margin-top: -22px;
  margin-bottom: 3px;
  font-size: 12px;
}
.box {
  width: 500px;
  border: 1px solid #dee2e6 !important;
}

#algowallet:hover,
#algosigner:hover,
#algomobile:hover {
  cursor: pointer;
  color: rgb(53, 53, 241);
  text-decoration: underline;
}

.disconnect {
  margin-right: 100px;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: -95px;
  z-index: 1000;
  display: none;
}

.primary-text {
  color: rgb(53, 53, 241) !important;
}
.primary-bg {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: 0;
}

.dropdown:active {
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  right: 4px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .navigation {
    font-size: 14px;
  }
  .connect_wallet,
  .wallet_center {
    font-size: 10px;
  }
  #wallet_value {
    font-size: 8px !important;
    width: 100px;
  }
  .box {
    width: 320px;
  }
  #choice_value {
    font-size: 8px !important;
    width: auto;
  }

  .navigation {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .connect_wallet {
    margin-top: 0 !important;
  }
  .form {
    width: 320px;
  }
  .header > span {
    font-size: 20px;
  }
  .span2 {
    font-size: 10px !important;
  }
  .textinput2 {
    padding: 2px;
  }

  .vertical_line {
    border-left: 1px solid #fff;
    height: 12px;
  }

  .mode {
    font-size: 13px;
  }
  .modal {
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .header {
    font-size: 16px;
  }

  .participate {
    font-size: 18px;
  }

  .switch {
    transform: scale(0.9);
  }
  .slider.round {
    transform: scale(0.9);
  }
}

.ui {
  background-color: rgb(156, 156, 156) !important;
}

.primary-bg-blur {
  backdrop-filter: blur(25px) saturate(114%);
  -webkit-backdrop-filter: blur(25px) saturate(114%);
  background-color: rgba(0, 0, 0, 0.41);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
