body {
	margin: 0;
	padding: 0px;
	background-color: #161616;
}
html {
	scroll-behavior: smooth;
}

#contact-form {
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#contact-form form {
	display: flex;
	width: 70%;
	height: 60vh;
	background-color: #1a1a1a;
	box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.01);
	border-radius: 5px;
}
.contact-left {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right {
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255, 255, 255, 0.8);
}
.c-l-heading {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	color: #ffffffc1;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: capitalize;
}

.f-name {
	display: flex;
	flex-direction: column;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.f-name font {
	color: #bfbfbf;
	font-size: 20px;
}
.f-name input {
	height: 30px;
	width: 250px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #292929;
	color: #ffffff;
	margin: 10px 0px;
}

.f-name ::placeholder {
	opacity: 0.5;
	letter-spacing: 1px;
}

.f-name input:focus {
	border-bottom: 1px solid #17d1ac;
	transition: all ease 0.5s;
}

.contact-right textarea {
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color: transparent;
	border-radius: 3px;
	box-sizing: border-box;
	color: #ebebeb;
	font-size: 16px;
}
.contact-right textarea::placeholder {
	color: #ebebeb2b;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.message font {
	font-size: 20px;
	padding-bottom: 7px;
	text-transform: capitalize;
	letter-spacing: 2px;
	color: #ffffffc1;
	text-decoration: underline;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.message {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.submit-btn {
	margin-top: -19px;
}

.submit-btn button {
	background-color: rgba(10, 143, 7, 0.818);
	padding: 10px;
	width: 100%;
	border-radius: 0 0 3px 3px;
	outline: none;
	border: none;
	box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: bold;
}

.submit-btn:hover {
	background-color: #09987b;
	transition: all ease 0.7s;
	border-radius: 3px;
}

.vote-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.vote-btn .yes {
	background-color: rgba(0, 128, 26, 0.797);
	padding: 10px;
	width: 100px;
	margin-top: -8px;
	margin-left: -150px;
	border-radius: 3px;
	outline: none;
	border: none;
	box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: bold;
}

.vote-btn .no {
	background-color: rgba(128, 0, 0, 0.797);
	padding: 10px;
	width: 100px;
	margin-top: -8px;
	margin-right: -150px;
	border-radius: 3px;
	outline: none;
	border: none;
	box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	font-weight: bold;
}

.action-btn {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.action-btn .connect {
	background-color: rgba(49, 47, 97, 0.797);
	padding: 10px;
	width: 200px;

	border-radius: 3px;
	outline: none;
	border: none;
	font-size: 14px;
	font-weight: bold;
}

.action-btn .submit {
	background-color: rgba(128, 0, 0, 0.797);
	padding: 10px;
	width: 200px;
	margin-top: -10px;
	margin-right: -130px;
	border-radius: 0 0 3px 3px;
	outline: none;
	border: none;
	box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
}

.action-btn:hover {
	background-color: rgba(0, 132, 255, 0.777);
	transition: all ease 0.8s;
	border-radius: 3px;
}

.text h4 {
	padding-top: 20px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	border-bottom: 1px solid snow;
	text-transform: capitalize;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	@media (max-width: 1190px) {
		#contact-form form {
			width: 95% !important;
		}
	}

	@media (max-width: 900px) {
		#contact-btn h1 {
			font-size: 1.4rem;
			text-align: center;
		}
		#contact-form {
			padding: 4;
			height: auto;
			box-sizing: border-box;
		}
		#contact-form form {
			flex-direction: column;
			height: auto;
			padding: 20px;
			width: 90% !important;
		}
		.contact-left,
		.contact-right {
			width: 100%;
			border: none;
		}
		.email,
		.f-name {
			width: 100%;
		}
		.email input,
		.f-name input {
			width: 100%;
			border: none;
			background-color: #262626 !important;
			padding: 10px;
			box-sizing: border-box;
			height: 40px;
		}
		textarea {
			background-color: #262626 !important;
			margin: 10px 0px;
			padding: 10px;
			height: 200px !important;
			width: 100% !important;
		}
		.message {
			margin: 0px;
		}
		#contact-form form h1 {
			margin: 5px 0px;
		}
	}

	@media (max-width: 600px) {
		#contact-btn h1 {
			font-size: 1.2rem;
			margin: 0px 10%;
		}
	}
}