@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  color:rgb(252, 247, 247);
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  body{
    overflow-x: hidden;
  }
  main {
    /* padding: 0; */
    margin: 0;
    width: 100vw;
    background-image: url("../public/bgIMG.jpg");

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form{
  width: 70%;
}

textarea{
  width: clamp(70px, 70%, 380px);
  height: 200px;
  padding: 0.3rem;
  border: 2px solid rgb(88, 85, 85);
}
@media (min-width: 400px) {
  form{
    width: 450px
  }
  input{
    width: 70%;
  }
}
