

.our-features-four .single-feature a:hover,.about-cryto .know-more a,.our-feature-five .text .learn-more:hover {color: #06d2d0;}

::-webkit-scrollbar-thumb,.theme-main-menu.fixed,.scroll-top { background: #5c09cf;}
#mega-menu-holder .navbar-toggler {color:#5c09cf; }
.contact-us-one form button {background: linear-gradient( 29deg, rgb(0,166,253) 0%, rgb(0,208,223) 100%);}
#mega-menu-holder ul> li> a:before,.testimonial-section .owl-theme .owl-dots .owl-dot.active span, .testimonial-section .owl-theme .owl-dots .owl-dot:hover span {background: #00d5b5;}
