.header{
    z-index: 10
}
.buttons div{
    padding: 0.3rem;
    border-radius: 6px;
    border:1px solid black;
    cursor: pointer;
}
/* .buttons div:hover{

} */
.connectButtons{
 position: absolute;
 width: 400px;
 transform: translateX(120px);
 transition: transform 300ms ease-in-out;
 height: 100vh;
 background: rgb(0, 225, 255);
}
.modal{
    position: absolute;
    background: #000;
    border: 1px solid black;
 transform: translate(100vw, -15px);
}
.open{
 transform: translateX(-120px);
 transition: transform 300ms ease-in-out, background 300ms ease-in-out;
}
.modalClosed{
 transform: translate(0vw, -15px);

}