.ptt_elt {
  width: 100%;
  min-height: 50vh;
  position: relative;
  display: flex;
  color: var(--txt-alt);
  padding: 15vh 5vw 0vh;
  flex-direction: column;

  font-weight: 400;

  align-items: center;
}

.ptt_elt_inn {
  width: 420px;
  max-width: 88vw;
}
.ptt_hd {
  display: flex;
  font-size: 15px;
  color: var(--wht);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 0px 16px;
  font-family: "Barlow", sans-serif;

  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  margin-bottom: 20px;
  background: var(--background);
  top: calc(var(--sm-hd-height));
  border-bottom: 1px solid var(--border-default);
}
.big_screen .ptt_hd {
  margin-bottom: 30px;
}
.ptt_hd p {
  opacity: 0.7;
}

.light_theme .ptt_hd {
  font-weight: 500;
}

/*  */

.card_list {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.card_cont {
  width: 420px;
  max-width: 88vw;
  min-height: 200px;

  display: flex;
  border-radius: 8px;
  flex-direction: column;
  background: var(--back-1);
  border: var(--list-border);
  padding: 12px 18px 12px 16px;
  margin-bottom: 20px;
}
.card_r1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_elt_img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
}
.card_elt_img img {
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #ccc;
  border: 1px solid var(--main-col);
}
.card_elt_tit {
  margin-left: 20px;

  font-size: 16px;
  color: var(--wht);
  opacity: 0.7;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* color: var(--main-col); */
}

.card_elt_desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
}

/*  */
.card_cand {
  margin-top: 20px;
}
.card_cand_hd {
  display: flex;
  font-size: 13px;
  color: var(--wht);
  opacity: 0.7;
  margin: 13px 0px;
  flex-wrap: wrap;
  text-transform: uppercase;
  flex-direction: column;
  white-space: nowrap;
}

.amountToCommit {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 7px 0px 10px;
}
.amountToCommit p {
  margin-right: 20px;
}
.amountToCommit input {
  flex: 1;
  font-size: 15px;
  padding: 7px 12px;
  border-radius: 12px;
  border: 1px solid var(--bord-dark);
}

.card_cand_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.cand_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
  margin-bottom: 10px;
}
.cand_img_cont {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
.cand_img_cont img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
}

.cand_det {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
.card_butts {
  display: flex;
  margin: 10px 0px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.card_butts button {
  font-size: 13px;
  color: var(--wht);
  padding: 10px 20px;
  background: var(--background);
  border-radius: 8px;
  border: var(--list-border);
}

.light_theme .card_butts button {
  font-weight: 500;
}

/* Candidates Percentages */
.cand_percent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 3px 0px 3px;
  padding-left: 5px;
  align-items: center;
  justify-content: center;
}
.cand_percent li {
  font-size: 10px;
  color: var(--wht);
  margin-right: 10px;
  opacity: 0.5;
}

/* Chart Collap
================== */
.chart_collap {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.vote_collap {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.rec_vote_cont {
  display: flex;
  margin: 20px 0px 10px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.record_vote {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: #ccf381;
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  text-transform: uppercase;
  background: var(--main-col);
}

.vote_now_list {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
}
.vote_now_list li {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 50%;
}
.vote_img_cont {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
.vote_img_cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}
.vote_now_list li p {
  font-size: 12px;
  color: var(--wht);
  opacity: 0.7;
  margin-left: 5px;
}

.vote_now_list input[type="radio"] {
  margin: 0;
  width: 16px;
  height: 16px;
  display: grid;
  appearance: none;
  margin-right: 10px;
  border-radius: 100%;
  place-content: center;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid var(--bord-dark);
}
.vote_now_list input[type="radio"]::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transform: scale(0);
  background-color: var(--main-col);
  transition: 120ms transform ease-in-out;
}
.vote_now_list input[type="radio"]:checked::before {
  transform: scale(1);
}
