.landing {
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: var(--sm-hd-height) 0vw 0px;
  color: var(--txt-alt);

  display: flex;
  font-family: "Barlow", sans-serif;
  align-items: center;
  flex-direction: column;
}
/* **************** */
.land_cov {
  z-index: 2;
  padding-top: 25vh;

  width: 400px;
  max-width: 85vw;
}

.landing .Marquee__Wrapper {
  margin: 0px !important;
  padding-top: 0px !important;
}

.land_item1 {
  width: 100%;
  color: var(--wht);
}
.land_item1 .hdy {
  opacity: 0.9;
  display: flex;
  font-size: 33px;
  margin: 13px 0px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 30px;
  letter-spacing: 0.7px;
  font-family: "Barlow", sans-serif;
}

.land_item1 .suby {
  opacity: 0.8;
  display: flex;
  font-weight: 400;
  margin: 13px 0px;
  line-height: 24px;
  letter-spacing: 0.3px;
  font-family: "Barlow", sans-serif;
}

.light_theme .land_item1 .hdy {
  font-weight: 500;
}

.land_item2 {
  width: 100%;
  min-height: 250px;
  padding: 20px;
  margin: 0px 0px 70px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 180px;
  /* background: var(--back-1); */
}

/* ************************* */

.Marquee__Wrapper {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  margin: 0px 0px 15vh;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.Marquee__TextHolder {
  display: flex;
  flex-direction: row;
}

.Marquee__TextGroup {
  animation: 20s linear 0s infinite normal none running marquee;
  display: inline-block;
}
.Marquee__Word {
  display: inline-block;
  font-size: 16px;
  /* opacity: 0.8; */
}
.Marquee__Dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: var(--main-col);
  vertical-align: middle;
  margin: 0px 30px;
}

@media screen and (max-width: 850px) {
  .Marquee__Dot {
    width: 4px;
    height: 4px;
    margin-top: -4px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

@media (max-width: 1020px) {
  .ft_hfr_1 {
    width: 70%;
    margin-right: 20%;
  }

  .ft_hfr_1 p:first-child {
    font-size: 28px;
  }

  .ft_hdr {
    margin-bottom: 7vh;
  }
  .Marquee__Wrapper {
    margin: 5vh 0px 5vh;
  }

  .get_inv {
    display: none;
  }

  .ft_r1 ul {
    align-items: center;
  }
}
@media (max-width: 760px) {
  .ft_inn ul li a p {
    width: 0px;
    overflow: hidden;
  }
  .ft_cont {
    font-size: 13px;
  }
  .ft_r3 {
    margin-top: 30px;
    font-size: 12px;
  }
  .ft_inn {
    margin-bottom: 7vh;
  }
}

@media (max-width: 700px) {
  .ft_hfr_1 {
    margin-right: 0px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .Marquee__Word {
    display: inline-block;
    font-size: 15px;
  }

  .hm_ft {
    padding-top: 0px;
    padding: 5vh 5vw 0px;
  }
  .ft_hfr_1 {
    width: 90%;
  }
  .ft_hfr_1 p:nth-child(2) {
    font-size: 16px;
  }
}
