<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap" rel="stylesheet">
    <title>Choice coin | successfully voted</title>
    <style>
        body{
            
font-family: 'Poppins', sans-serif;
        }
          
        
      
    </style>
</head>
<body>
    <nav class="home-nav flex items-center justify-between flex-wrap    p-6  w-full z-10 top-0 md:px-20">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<a class="text-white flex space-x-2 cursor-pointer no-underline hover:text-white hover:no-underline" href="../index.html">
        <span> <img class="w-5" src="https://choice-coin.com/Screenshot%202021-06-25%20at%2023-38-44%20Logo%20Maker%20Used%20By%202%203%20Million%20Startups.png" alt=""> </span>
        <h1 class="text-3xl text-white " >   Choice Coin  </h1> 
			</a>
		</div>

		<div class="block lg:hidden">
			<button id="nav-toggle" class="flex items-center px-3 py-2  rounded text-white border-gray-600 hover:text-white hover:border-white">
				<?xml version="1.0" ?><svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H11" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
			</button>
		</div>

		<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
			<ul class="list-reset lg:flex justify-end flex-1 items-center">
				
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="./signup.html">Start Election </a>
				</li>
				
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="./voting.html">Vote</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="./electionResult.html">Election results</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="https://choice-coin.com/">About Us </a>
				</li>
			</ul>
		</div>
	</nav>

    <div class=" mt-24" >
        <div class="w-full flex justify-center items-center">
			<img src="https://img.icons8.com/external-tal-revivo-duo-tal-revivo/100/000000/external-product-quality-checkmark-for-approved-and-tested-basic-duo-tal-revivo.png"/>

			<h2 class="text-2xl font-semibold" > Successfully voted </h2>
        </div>

		<div class="flex mt-10 justify-center space-x-10" > <a class="bg-blue-800 font-semibold hover:bg-gray-800 text-white py-2 px-5  md:py-3 md:px-7 rounded-xl focus:outline-none focus:shadow-outline" href="../index.html">Go to Home </a>  <a class="bg-blue-800 font-semibold hover:bg-gray-800 text-white py-2 px-5  md:py-3 md:px-7 rounded-xl focus:outline-none focus:shadow-outline" href="./electionResult.html">check results</a></div>

    </div>
	<script src="../script.js"></script>
</body>
</html>