<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice coin | sign in</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <nav class="home-nav flex items-center justify-between flex-wrap   p-6  w-full z-10 top-0 md:px-20">
		<div class="flex items-center flex-shrink-0 text-white mr-6">
			<a class="text-white flex space-x-2 cursor-pointer no-underline hover:text-white hover:no-underline" href="../index.html">
        <span> <img class="w-5" src="https://choice-coin.com/Screenshot%202021-06-25%20at%2023-38-44%20Logo%20Maker%20Used%20By%202%203%20Million%20Startups.png" alt=""> </span>
        <h1 class="text-3xl text-white " >   Choice Coin  </h1> 
			</a>
		</div>

		<div class="block lg:hidden">
			<button id="nav-toggle" class="flex items-center px-3 py-2  rounded text-white border-gray-600 hover:text-white hover:border-white">
				<?xml version="1.0" ?><svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20M4 12H20M4 18H11" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
			</button>
		</div>

		<div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block pt-6 lg:pt-0" id="nav-content">
			<ul class="list-reset lg:flex justify-end flex-1 items-center">
				
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="./signup.html">Start Election </a>
				</li>
				
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="./voting.html">Vote</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="./electionResult.html">Election results</a>
				</li>
				<li class="mr-3">
					<a class="inline-block text-white no-underline hover:text-gray-300 hover:text-underline py-2 px-4" href="https://choice-coin.com/">About Us </a>
				</li>
			</ul>
		</div>
	</nav>
    

    <div class=" flex justify-center mt-28  h-auto   ">
        <div class="">
            <h2 class="mb-5 text-2xl font-bold" > Ongoing elections </h2>
            <div class=" flex flex-col flex-wrap justify-center md:space-x-9 md:flex-row " >
                <div class=" mb-5 border border-gray-700 rounded pb-3  cursor-pointer hover:shadow-xl hover:p-5 hover:mb-0 ">
                   <a href="./voting_2.html">
                    <div class="h-60 w-full  ">
                        <img class="p-8 w-72" src="https://media-exp1.licdn.com/dms/image/C4D1BAQEzyBcrpBcX7A/company-background_10000/0/1519796682454?e=2159024400&v=beta&t=UxYGzfBsmy8BJzmkXbfN5saHKpdfsyjC3dxl1xSZX2c" alt="" srcset="">
                       </div>
                        <p class="text-lg text-center font-bold  mb-2" > President of Getters Social club </p>
                   </a>
                </div>
                <div class=" mb-5 border border-gray-700 rounded pb-3 cursor-pointer hover:shadow-xl hover:p-5 hover:mb-0 ">
                   <div class="h-60 w-full  "><img class="p-8 w-72" src="https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=815&q=80" alt="" srcset=""> </div> 
                    <p class="text-lg text-center font-bold  mb-2" > Analyst club </p>
                </div>
                <div class=" mb-5 border border-gray-700 rounded pb-3 cursor-pointer  hover:shadow-xl hover:p-5 hover:mb-0 ">
                   <div class="h-60 w-full  ">  <img class="p-8 w-72" src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="" srcset=""> </div>
                    <p class="text-lg text-center font-bold  mb-2" > firm of the year </p>
                </div>
            </div>
        </div>
        </div>

    <script src="../script.js"></script>
</body>
</html>