<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://cdn.jsdelivr.net/npm/algosdk@1.13.0-beta.1/dist/browser/algosdk.min.js"
        integrity="sha384-w9fodN00YjvWxdNoiyT+W6CqaATkXlfid9tnzBlToDqZWepVWLjI5wO7jNL4+aNs"
        crossorigin="anonymous"
    ></script>
      <script src="/js/dropDown.js"></script>
    <script src="/js/algosigner.js"></script>
    <script src="/js/myalgo.min.js"></script>
    <script src="/js/myalgowallet.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Choice Coin</title>
</head>
<body>

<section class="navigation">
    <div class="nav-container">
        <div class="brand">
        <a href="../">
            <span style="top: -50vh;">Choice Coin</span>
        </a>
        </div>
        <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="../"><span></span></a></div>
        <ul class="nav-list">
            <li>
                <a href = "/vote">Vote</a>
            </li>

        </ul>
        </nav>
    </div>
    </section>
</body>
</html>
