* {
    box-sizing: border-box;
  /*   border: 1px solid black; */
  }
  
  body {
    font-family: 'Lato';
     -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizelegibility;
  }
  
  ul {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
  }
  
  li {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    background: #E74C3C;
    cursor: pointer;
    transition: all .5s ease;
  } 

    li:hover {
      background: darken(#E74C3C, 3);
    }
    
    li.active {
      flex: 5;
      background: #fff;
      cursor: default;
    }

    li.active  h2 {
        color: #E74C3C;
      }
      
      li.active  .section-content {
        flex: 4;
        opacity: 1;
        transform: scaleX(1);
        color: #E74C3C;
      }
    
    .section-title {
      flex: 1;
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      color: white;
    }  
      .section-title  h2 {
        margin: 0;
        transform: rotate(-90deg);
        white-space: nowrap;
      }
    
    .section-content {
      flex: 1;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      opacity: 0;
      transition: all .25s .1s ease-out;
    }

  
  