<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>Choice Coin</title>
</head>
<body>

    <script type="text/javascript">
        var c = '{{context}}';
        console.log(c.wallet_adress);
    </script>

    <div id="main">
        {% block content %}
        <div id="app"></div>
        {% endblock %}
    </div>
    <script src="{% static 'frontend/main.js' %}"></script>
    <script src="{% static 'frontend/bootstrap.min.js' %}"></script>
</body>
</html>