<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://cdn.jsdelivr.net/npm/algosdk@1.13.0-beta.1/dist/browser/algosdk.min.js"
        integrity="sha384-w9fodN00YjvWxdNoiyT+W6CqaATkXlfid9tnzBlToDqZWepVWLjI5wO7jNL4+aNs"
        crossorigin="anonymous"
    ></script>
     
    <script src="/js/algosigner.js"></script>
    <script src="/js/algo.js"></script>
    <script src="/js/algowallet.js"></script>
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
    <title>Choice Coin</title>
</head>
<body>

<section>
    <div class="navbar">
        <ul>
            <li><a href="/"> Choice Coin</a> </li>
            <li class="vote"> <a href=""> <img src="https://miro.medium.com/max/416/1*7QyClKtAdjfBYLDRVZcOTw.png"></a></li>
        </ul>
    </div>
    </section>
</body>
</html>
