<%- include("./header"); %>

<div class="body">
  <h1>Decentralized Voting - To participate</h1>
  <div class="connect">
    <p>connect to wallet via</p>
    <ul>
      <li><span onclick="connectToAlgoSigner()">Algosigner </span></li>
      <li><span onclick="myAlgoWalletConnect()">AlgoWallet</span></li>
    </ul>
  </div>
</div>
