
.section {
  width: 90vw;
  margin: 0 auto;
  max-width:1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem auto;
  /* background:  #fff; */
  background: var(--gradient-faqs);
  border-radius:  0.25rem;
  padding: 2.5rem 2rem;
  max-width: 920px;
  display: grid;
  gap: 1rem 2rem;
}
.container h1 {
  line-height: 1.2;
  font-size: 14;
  font-weight: 500;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 250px 1fr;
  }
}
.question {
  padding: 1rem 1.5rem;
  border: 2px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.1);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
}
.question p {
  color: var(--color-faqs);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: #eae6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #b4345c;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}
