.light {
  --background-color : #f8f9fa;
  --home-color : rgba(0, 0, 0, 0.45);
  --header-bg : rgba(192, 192, 199, 0.788);
  --nav-bg : #f8f9fa;
  --nav-color : #1F2933;
  --nav-dropdown : grey;
  --paragraph :  rgba(0, 0, 0);
  --section-color : #1c242e;
  --section-3Bg : #f8f9fa;

}
.dark {
  --background-color : #1F2933;
  --home-color : rgb(166, 168, 170);
  --header-bg : rgba(34, 41, 48, 0.486);
  --nav-bg : #1F2933;
  --nav-color : #f8f9fa;
  --nav-dropdown : #293746;
  --paragraph : whitesmoke;
  --section-color : whitesmoke;
  --section-3Bg : black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
