body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  background: #ffffff;
  width: 100vw;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  width: 80%;
  color: white;
}

.nav-link {
  color: white;
}

section {
  height: 70%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 0;
  /* z-index: -8; */
}

.blue {
  background: #533afe;
}

.curve {
  position: absolute;
  height: 385px;
  width: 100%;
  bottom: 0;
}

.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 200% 12%;
  width: 90%;
  height: 100%;
  transform: translate(34.5%, 60%);
  background-color: #ffffff;
  z-index: 5;
}

.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 150% 15%;
  width: 90%;
  height: 100%;
  transform: translate(-32.3%, 40%);
  z-index: -5;
  background-color: #533afe;
}

img {
  height: 100%;
  user-select: none;
}

.row {
  width: 100%;
  height: 80%;
  padding: 100px;
}

.content {
  padding-top: 18%;
  color: #ffffff;
  z-index: 80000;
}

.container {
  /* z-index: -1; */
}

.title {
  font-size: 44px;
  font-weight: bolder;
  line-height: 60px;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}

.content-text {
  font-size: 18px;
  line-height: 26px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
}

.form-section {
  margin-top: 5%;
  margin-left: 20%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.container {
  width: 55%;
  margin-left: 30%;
}

.leaderboard {
  margin-top: 100px;
  padding: 20px;
  background-color: #b5baee;
  border-radius: 14px;
  margin-left: 20px;
}

tr {
  height: 50px;
  padding: 10px;
  border-bottom-width: 2px;
  font-family: "Raleway", sans-serif;
}

th {
  width: 650px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.election {
  padding: 20px;
  border: 0px;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  background-blend-mode: color;
}

footer {
  width: 100vw;
  color: #fff;
  padding: 10vw 0px;
  background: #111;
  font-variation-settings: "wght" 400;
}

.ft_inn {
  width: 87vw;
  margin: 0 auto;
}

.ft_r1 {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
}

.ft_r1 .ft_cap {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 0.8rem;
  justify-content: space-between;
}
.ft_cap ul {
  display: flex;
  flex-direction: row;
}
.ft_cap ul li {
  margin: 0px 10px;
  /* padding-bottom: 2px; */
  border-bottom: 1px solid #2b0fff;
}

.ft_r2 {
  height: 1.5px;
  margin-bottom: 1.5rem;
  background: linear-gradient(
    90deg,
    #2b0fff,
    #eaac60 33%,
    #f93e3e 50%,
    #9755ed 77%,
    #54ea81 100%
  );
  font-size: 14px;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ft_r3 {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ft_r3 ul {
  display: flex;
  flex-direction: row;
}
.ft_r3 ul li {
  margin: 0px 10px;
}

.ft_r3 p:first-child {
  font-size: 14px;
}
