<section class="navigation">
    <div class="nav-container">
      <div class="brand">
        <a href="../">Choice Coin</a>
      </div>
      <nav>
        <div class="nav-mobile"><a id="nav-toggle" href="../"><span></span></a></div>
        <ul class="nav-list">
          <li>
            <a href = '/create'>Add a voter</a>
            </li>
            <li>
              <a href = "/start">Start Electoral Voting Process</a>
            <li>
              <a href="/vote">Participate in Voting Process</a>
            </li>
            <li>
              <a href = "/end">End Voting Process</a>
              </li>

        </ul>
      </nav>
    </div>
  </section>
