<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Your description">
    <meta name="author" content="Your name">
	<style>
	.cd-faq__trigger {
	color:;
	}
	</style>
    <!-- Webpage Title -->
    <title>CHOICE COIN</title>
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">
	<link href="/static/css/faq.css" rel="stylesheet">
	<link href="/static/css/style.scss" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="/static/images/favicon.png">
</head>
<body>
    {% include 'header.html' %}
	
	<div class="container ">
	<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#About">About</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Voting</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Result</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Wallet</a></li>
		<li><a class="cd-faq__category truncate" href="#privacy">Others</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>About</h2></li>
			<li class="cd-faq__item">
				<a   class="cd-faq__trigger" href="#0"><span>What Is ChoiceCoin?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Choice Coin is a governance token that powers the Fortior Voting Protocol,
			which leverages Artificial Intelligence and Quantum Computing to voting algorithms that are secure,
			equitable, and efficient.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Use Case?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>The purpose of Choice 
				Coin is to facilitate democratic participation
				and decentralized voting</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Why Choice Coin?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Voting Algorithms that allow everyone to have a say
				Fortior's voting algorithm is simple; 
				it allows anyone who should have a say vote without difficulty</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

		</ul>
		<!-- cd-faq__group -->

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Voting</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How does the voting works?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How to vote?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How to get my voting id?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Result</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How To Show Result?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Result will be shown after voting ends an can also be accessed from the side navigation bar</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		
		</ul> <!-- cd-faq__group -->

		<ul id="payments" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Wallet</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>How do i connect my wallet to vote?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>is my wallet safe?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="privacy" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Others</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Can I specify my own private key?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Why cant i see the result?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Why did my voting failed?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>#</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Can i edit my voting id?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="assets/js/main.js"></script> 
</div>
    {% include 'footer.html' %}
 </body>
 
     <!-- Scripts -->
    <script src="/static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="/static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="/static/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
    <script src="/static/js/isotope.pkgd.min.js"></script> <!-- Isotope for filter -->
    <script src="/static/js/scripts.js"></script> <!-- Custom scripts -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/main.js"></script> 
    <script>

</html>
