<!-- Navigation -->
<section class="navigation">
    <div class="nav-container">
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
        <div class="container">

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="../">CHOICE COIN</a> 

            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text" href="index.html">Zinc</a> -->

            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="../">Home</a>
                    </li>
					 <li class="nav-item">
                        <a class="nav-link" href="/start">Admin login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href = '/create'>Add Voter</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="/vote">Participate In Voting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/end">End Voting Process</a>
                    </li>
					
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">More</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/showResult/">Show result</a></li>
                            <li><div class="dropdown-divider"></div></li> 
                            <li><a class="dropdown-item" href="#projects">Upcoming voting Session</a></li>
                            <li><div class="dropdown-divider"></div></li>                          
                            <li><a class="dropdown-item" href="/privacy/">Tracking and Tabulation</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/promotions/">Promotions</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/community/">Communitiy</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/security/">Security</a></li>
                          
                        </ul>   
                   </li>
					<span class="nav-item">
					<a class="btn-solid-sm" href="/deposit/">Connect</a>
					</span>
                </ul>
    </div>
  </section>
