<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/mystyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/static/js/menu.js"></script>
  <title>Chocie Coin</title>
</head>
<body>
{% include 'header.html' %}
<article>
Choice Coin was created by Fortior Blockchain, LLLP in 2021. Foritor Blockchain recieved a grant from the Algorand Foundation to develop software in June 2021. They also won the MIT Hackathon in April.
  Visit the main webpage for Fortior Blockchain <a href = "https://www.fortiorblockchain.com">here.</a>
</article>
{% include 'footer.html' %}
</body>
</html>
