<!DOCTYPE html>
<html>
  <head>
    <title>Election Voting</title>

    
    <link rel = "stylesheet" href = "/static/css/mystyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style type="text/css">

    </style>

  </head>
<body>
    {% include 'header.html' %}
    {% if message %}
        <h3><p style="color:green">{{ message }}</p></h3>
    {% else %}
    	    {% if error %}
                <p style="color:red">{{ error }}</p>
    		{% endif %}
    {% endif %}
    <div class="container">
      <div class="judul">
        <h1>Enter Required Address Here:</h1>
      </div>

      
<div class = "second_container">
     
    <form action ='/address' method="POST">

        <label for="main">Escrow Address</label>
        <br><input type ='text' name ='escr_ad' id ='escr_ad'></br>
        <label for ="main">Escrow Mnemonic</label>

        <br><textarea class="form-control" type ='text' name='escr_nm' id='escr_nm'></textarea></br>
        <label for ="main">Decision One Address</label>


        <br><input type = 'text' name ='decision_one' id ='decision_one'></br>

        

        <label for ="main">Decision One Mnemonic</label>
        <br><textarea class="form-control" name ='mnemonic_one' id ='mnemonic_one'></textarea></br>


        <label for ="main">Decision Two Address</label>

        <br><input type ='text' name='decision_two' id ='decision_two'></br>

        
        <label for ="main">Decision Two Mnemonic</label>
        <br><textarea class="form-control" name ='mnemonic_two' id='mnemonic_two'></textarea></br>
        <br>
        <input  class="btn btn-primary" type = 'submit' Value ='Submit'>
        </br>

        
        
    
    </form>
</body>
</html>