<!DOCTYPE html>
<html>
  <head>
    <title>Election Voting</title>

    <link rel="stylesheet" href="/static/css/style.css?version=7">
    <link rel = "stylesheet" href = "/static/css/mystyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">

    </style>

  </head>
  <body>
    {% include 'header.html' %}
    {% if message %}
        <h3><p style="color:green">{{ message }}</p></h3>
{% else %}
    	    {% if error %}
        <p style="color:red">{{ error }}</p>
    		{% endif %}
    <div class="container">
      <div class="judul">
        <h1>Voting with Choice Coin</h1>
      </div>

      <p>Please enter your information below. Contact your system administrator if you are missing this information.</p>

<form action="" method = "post">
  <label for = "main_1">Ownership Stake as percentage:</label>
  <input id = "main_1" type = "number" name = "Stake" size = "40" placeholder = "20"><br>
  <label for = "main_3">Vote:</label>
  <input type="radio" name="options" id="option1" value="option1">Proposition One</input><br>
  <input type="radio" name="options" id="option2" value="option2">Proposition Two</input><br>
  <label for = "main">Secret Key:</label>
  <input id = "main" type="password" name="Secret" placeholder="Secret Key"><br>
  <input class="button" type="submit" value="Submit Ballot">
</form>
{% endif %}
    </div>
    {% include 'footer.html' %}
 </body>
</html>
