.header {
    background: white;
    position: sticky;
    box-shadow: 4px 5px 1px hsl(0, 0%, 20%, 0.5);
    height: 3rem;
    padding: 1rem;
    display: flex;
    ;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.header img {
    padding-right: .4rem;
}

.header a {
    text-decoration: none;
    color: black
}

.header .button {
    display: block
}
.navButtons{
    transition: transform 400ms ease-in-out;
}
.navButtons div {
    cursor: pointer;
}

@media (max-width: 550px) {.navButtons {
    position: absolute;
    width: 100vw;
    height: 90vh;;
    background: rgba(27, 26, 27, 0.9);
    right:-104%;
    color:#ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    align-items: center;
    gap: 4rem;

}
.navButtons a{
     color:white;
}
.open {
    transform: translateX(-75%);
}
}


@media (min-width: 550px) {
    .header .button {
        display: none
    }

    .navButtons {
        position: relative;
        right: 0;
        display: flex;
        font-size: 1rem;
        gap: 2rem;
        margin-right: 1rem;
    }

}
