<!DOCTYPE html>
<html>
  <head>
    <title>Election Voting</title>

    <link rel="stylesheet" href="/static/css/style.css?version=7">
    <link rel = "stylesheet" href = "/static/css/mystyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">

    </style>

  </head>
  <body>
    {% include 'header.html' %}
    {% if message %}
        <h3><p style="color:green">{{ message }}</p></h3>
{% else %}
    	    {% if error %}
        <p style="color:red">{{ error }}</p>
    		{% endif %}
    <div class="container">
      <div class="judul">
        <h1>Voting with Choice Coin</h1>
      </div>

      <p>Your identity has been validated. Submit your vote here:</p>

<form action="" method = "post">
  <label for = "main_3">Candidate:</label>
  <input type="radio" name="options" id="option1" value="option1">Candiate One</input<br>
  <input type="radio" name="options" id="option2" value="option2">Candidate Two</input<br>

  <input class="button" type="submit" value="Submit Ballot">
</form>
{% endif %}
    </div>
    {% include 'footer.html' %}
 </body>
</html>
