@import "./styles/reset.css";

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;

  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
}
* {
  box-sizing: border-box !important;
  font-family: "Open sans";
}

#root {
  z-index: 21474836470;
}

:root {
  --list_h: 68px;
  --list-border: 1px solid rgba(255, 255, 255, 8%);

  --back-1: #363636;
  --back-2: #4a4a4a;

  --white: #fdfdfd;
  --wht: #fff;
  --dark-800: #242424;
  --dark-800: #1a1a1a;
  --txt: #999;
  --txt-alt: #808080;
  --txt-alt-2: #aaa;
  --sm-hd-height: 60px;
  --sm-hd-height-half: 60px;
  --sm-nav-height: 70px;
  --main-col: #2958ff;
  --main-col-inv: #ccf381;

  /* --main-col: #31b7a3;
  --main-col-inv: #ce485c; */
  --bord-dark: #666;
  /* --main-col: #0300e2; */
  --l1: #e6e6e635;
}

main {
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
}

.light_theme {
  --color: "#808080";
  --txt-alt: #555;
  --wht: #000;

  --back-1: #fdfdfd;

  --back-2: #f2f2f2;

  --l1: #333;

  --list-border: 1px solid rgba(0, 0, 0, 18%);

  --background: var(--white);
  --border-default: rgba(0, 0, 0, 18%);
  background-color: var(--background);
}
.dark_theme {
  --color: "#808080";
  --background: var(--dark-800);
  --border-default: rgba(255, 255, 255, 8%);
  background-color: var(--background);
}

.big_screen {
  --sm-hd-height: 120px;
}

/* Header Mobile */
.small_header {
  top: 0;
  left: 0;
  z-index: 90;
  width: 100vw;
  display: flex;
  font-size: 13px;
  color: var(--wht);
  position: fixed;
  background: var(--background);
  flex-direction: column;
  border-bottom: 1px solid var(--border-default);
}

/* ****************** */
.listNavBig {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.listNavBig li {
  /* opacity: 0.8; */
  font-size: 12px;
  margin: 0px 8px;
  cursor: pointer;
  letter-spacing: 0.5px;
  padding-bottom: 3px;
}
.listNavBig li a:focus,
.listNavBig li a:hover {
  border: none;
  outline: none;
}
.listNavBig li:hover {
  border-bottom: 1px solid var(--wht);
}

/* Addresses 
****************** */
.addrDisplay {
  position: relative;
  z-index: 9999;
}
.addrDispMain {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--sm-hd-height-half);
}
.addrDisplay .dropDownConnect_items {
  right: 0;
  position: absolute;
  flex-direction: column;
  background: var(--back-1);
  border-radius: 8px;
  display: none;
  border: 1px solid var(--border-default);
}
.addrDisplay .dropDownConnect_item {
  padding: 15px 20px;
}

.addrDisplay:hover .dropDownConnect_items {
  display: flex;
}

.addrDisplay .dropDownConnect_item_txt {
  width: 200px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* *************** */
.dropDownConnect {
  position: relative;
  z-index: 99999999;
}

/*  */

.addrDisplayInn {
  color: var(--wht);
  font-size: 12px;
  background: var(--back-1);
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.4px;
  white-space: nowrap;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 60vw;
  overflow: hidden;
  border: 1px solid var(--border-default);
}
.addrBalance,
.addressTxt {
  display: flex;
  padding: 4px 10px;
  flex-direction: row;
}
.addrBalance {
  border-right: 1px solid var(--border-default);
}
.addressTxt {
  max-width: 120px;
}
.addressTxt p {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Connect Wallet */
.dropDownConnect .dropDownConnect_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: var(--sm-hd-height-half);
}
.dropDownConnect .dropDownConnect_items {
  right: 0;
  position: absolute;
  flex-direction: column;
  background: var(--back-1);
  border-radius: 8px;
  display: none;
  border: 1px solid var(--border-default);
}

.dropDownConnect:hover .dropDownConnect_items {
  display: flex;
}

.dropDownConnect_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  padding-right: 40px;
  cursor: pointer;
}
.dropDownConnect_item {
  border-bottom: 1px solid var(--border-default);
}
.dropDownConnect_item:last-child {
  border-bottom: none;
}
.dropDownConnect_img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 14px;
  margin-right: 12px;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
.dropDownConnect_img img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
}

.dropDownConnect_item_txt {
  font-size: 15px;
  opacity: 0.7;
  white-space: nowrap;
}

/*  */
.connect_wallet_button {
  color: var(--wht);
  font-size: 12px;
  background: var(--back-1);
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  letter-spacing: 0.4px;
  white-space: nowrap;
  text-transform: uppercase;
  border: 1px solid var(--border-default);
}
.connect_wallet_button p {
  display: flex;
  opacity: 0.8;
  align-items: center;
  flex-direction: row;
}

.small_header_inn {
  width: 100%;
  display: flex;
  font-size: 13px;
  padding: 0px 5vw;
  flex-direction: row;
  height: var(--sm-hd-height-half);
  justify-content: space-between;
}

.small_header_inn p {
  opacity: 0.8;
}

.light_theme .small_header_inn {
  font-weight: 500;
}

.sm_act_menu_butt {
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2px;
  margin-right: 20px;
}

/* Navbar Mobile */
.ft_sm {
  bottom: 0;
  width: 100vw;
  z-index: 90;
  height: var(--sm-nav-height);
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background);
  border-top: 1px solid var(--border-default);
}

.ft_sm_inn {
  color: var(--wht);
  height: 100%;
  display: flex;
  width: 90vw;
  flex-direction: row;
  max-width: 400px;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
.ft_sm_li {
  display: flex;
  font-size: 13px;
  align-items: center;
  flex-direction: column;
}
.ft_sm_li a:active,
.ft_sm_li a:focus {
  border: none;
  outline: none;
}

.ft_sm_li i {
  font-size: 20px;
  margin-bottom: 2px;
}

/* Menu Mobile */
.mn_sm {
  top: 0px;
  width: 100vw;
  height: 100%;
  z-index: 99;
  position: fixed;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.4);
}
.mn_sm_modal {
  width: 100vw;
  display: flex;
  color: var(--wht);
  font-size: 15px;
  font-weight: 500;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 20px;
  background: var(--back-1);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-top: 1px solid var(--border-default);
}
.mn_sm_modal_inn {
  width: 100%;
  max-width: 90vw;
}
.mn_l1 {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--l1);
}
.mn_l1 li {
  margin-bottom: 16px;
}
.mn_l1 li a i {
  margin-right: 15px;
}

.mn_l2 {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--l1);
}
.mn_l2 li a {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.mn_l2 li a i {
  margin-right: 15px;
}

.mn_sm_modal .Marquee__Wrapper {
  margin: 0px !important;
  opacity: 0.3;
  margin-top: 4px;
}
.mn_sm_modal .Marquee__TextGroup {
  animation-duration: 60s !important;
}
.mn_sm_modal .Marquee__Word {
  font-size: 14px !important;
}

/* Algo connect */
.algo_connect_hd {
  display: flex;
  font-size: 15px;
  color: var(--wht);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 13px 0px 16px;

  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  opacity: 0.7;
  background: var(--background);
  top: calc(var(--sm-hd-height));
}

.connect_butt {
  display: flex;
  padding: 25px 0px;
  align-items: center;
  flex-direction: row;
  margin: 10px 0px;
  cursor: pointer;
  border-bottom: 1px solid var(--l1);
}
.connect_butt:nth-child(3) {
  margin-bottom: 20px;
  border-bottom: none;
}
.connect_wallet_img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}
.connect_wallet_img img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
}
.connect_wallet_txt {
  font-size: 14px;
  font-weight: 500;
  margin-left: 15px;
}

/* Elections Modal */
.modal_cov {
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: rgba(0, 0, 0, 0.4);
}
.close_modal {
  width: 420px;
  display: flex;
  max-width: 88vw;
  font-size: 13px;
  font-weight: 600;
  margin-top: 10px;
  color: var(--main-col);
  border-radius: 8px;
  align-items: center;
  background: #eeeeee;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  border: var(--list-border);
  padding: 14px 18px 14px 16px;
}

.modal_cont {
  width: 420px;
  max-width: 88vw;
  min-height: 300px;

  display: flex;
  border-radius: 8px;
  flex-direction: column;
  background: var(--back-1);
  background: #eeeeee;
  border: var(--list-border);
  padding: 12px 18px 12px 16px;
}
.modal_r1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal_elt_img img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #ccc;
  border: 1px solid var(--main-col);
}
.modal_elt_tit {
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  /* color: var(--main-col); */
}

.modal_elt_desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
}

/*  */
.modal_cand {
  margin-top: 20px;
}
.modal_cand_hd {
  display: flex;
  font-size: 13px;
  opacity: 0.7;
  margin: 13px 0px;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.modal_cand_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.cand_item {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 15px;
  margin-bottom: 10px;
}
.cand_img_cont img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.cand_det {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
.modal_butts {
  display: flex;
  margin: 30px 0px 20px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.modal_butts button {
  font-size: 13px;
  color: var(--wht);
  padding: 10px 20px;
  background: #000;
  border-radius: 8px;
}

/* ************************* */

.Marquee__Wrapper {
  display: flex;
  width: 100%;
  padding: 10px 0px;
  margin: 0px 0px 15vh;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.Marquee__TextHolder {
  display: flex;
  flex-direction: row;
}

.Marquee__TextGroup {
  animation: 20s linear 0s infinite normal none running marquee;
  display: inline-block;
}
.Marquee__Word {
  display: inline-block;
  font-size: 16px;
  /* opacity: 0.8; */
}
.Marquee__Dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: var(--main-col);
  vertical-align: middle;
  margin: 0px 30px;
}

@media screen and (max-width: 850px) {
  .Marquee__Dot {
    width: 4px;
    height: 4px;
    margin-top: -4px;
    margin-left: 18px;
    margin-right: 18px;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(-100%, 0px, 0px);
  }
}

@media (max-width: 1020px) {
  .ft_hfr_1 {
    width: 70%;
    margin-right: 20%;
  }

  .ft_hfr_1 p:first-child {
    font-size: 28px;
  }

  .ft_hdr {
    margin-bottom: 7vh;
  }
  .Marquee__Wrapper {
    margin: 5vh 0px 5vh;
  }

  .get_inv {
    display: none;
  }

  .ft_r1 ul {
    align-items: center;
  }
}
@media (max-width: 760px) {
  .ft_inn ul li a p {
    width: 0px;
    overflow: hidden;
  }
  .ft_cont {
    font-size: 13px;
  }
  .ft_r3 {
    margin-top: 30px;
    font-size: 12px;
  }
  .ft_inn {
    margin-bottom: 7vh;
  }
}

@media (max-width: 700px) {
  .ft_hfr_1 {
    margin-right: 0px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .Marquee__Word {
    display: inline-block;
    font-size: 15px;
  }

  .hm_ft {
    padding-top: 0px;
    padding: 5vh 5vw 0px;
  }
  .ft_hfr_1 {
    width: 90%;
  }
  .ft_hfr_1 p:nth-child(2) {
    font-size: 16px;
  }
}

/* My Algo Wallets */
#walletconnect-wrapper {
  transform: scale(0.75) !important;
}

iframe {
  pointer-events: none !important;
}
