<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/mystyle.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <link rel="stylesheet" href="/static/css/navigation.css">
        <script src="/static/js/script.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title>Choice Coin</title>
    </head>
    <body>
        {% include 'header.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'footer.html' %}
    </body>
</html>
