<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Using Choice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&family=Roboto:ital,wght@1,300&family=Rubik:ital,wght@0,300;1,300;1,500&display=swap" rel="stylesheet">
<body>
    <section class="blue">
      <nav style="position: absolute; top: 0px; z-index: 8;" class="nav">
        <a style="color: white; font-size: 20px; font-weight: 500; font-family: 'Raleway', sans-serif; " class="nav-link" aria-current="page" href="#"> <img style="height: 30px; align-self: center;" src="/img/choice2.png"alt=""> Choice</a>
        <a style="color: white; margin-left: 60%; font-family: 'Raleway', sans-serif; " class="nav-link" href="#">Home</a>
        <a style="color: white; font-family: 'Raleway', sans-serif;" class="nav-link " href="#">About</a>
      </nav>
        <div  style="z-index: 8;" class="container">
            <div class="row">
              <div class="col-sm-5 content">
                  <h3 class="title">DECENTRALISED VOTING</h3>
                  <p class="content-text">
                      Take voting to a whole new level using cutting edge blockchain technology with CHOICE COIN
                  </p>
                  <a href="/create_vote">
                  <button style="width: 160px; height: 50px; font-weight: 500; background-color: #3ECF8E; margin-bottom: 12px; " type="button" class="btn btn-primary">GET STARTED</button>
                  </a>
                  <a href="/join_vote" >
                  <button style="width: 160px; height: 50px; font-weight: 500; background-color: white; color: #3ECF8E; margin-bottom: 12px;" type="button" class="btn btn-primary">JOIN VOTE</button>
                  </a>
              </div>
              <div style="z-index: 8;" class="col-sm-7">
                <img  src="/img/intro.png"alt="">
              </div>
            </div>
          </div>
        <div class="curve"></div>

    </section>

</body>

<footer style="margin-top: 30%; height: 80px;">
  <div class="ft_inn">
    <div class="ft_r1">
      <div class="ft_cap">
        <p>Get Involved</p>
        <ul>
          <li>
            <a href="#code">Documentation</a>
          </li>
          <li>
            <a href="#code">Our Blog</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ft_r2"></div>
    <div class="ft_r3">
      <p>&copy;2021 Choice Coin</p>
      <ul>
        <li>
          <a href="#code">Terms</a>
        </li>
        <li>
          <a href="#code">Privacy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>
