<%- include("./partials/header"); %>
    <div class="index-main-cont">

      <div class="sub-main-cont">
          <div class="sub-main-child" id="child-1">
            <h2>Choice Coin: A governance token for a new age.</h2>
            <p>Choice Coin is a governance token that powers the Fortior Voting Protocol, which leverages Artificial Intelligence and Quantum Computing to voting algorithms that are secure, equitable, and efficient. </p>
            <a href="https://fortiorblockchain.com/">View our main website</a>
          </div >
    
          <div class="sub-main-child" id="child-2">
              <h2 >A democratic token for a new era</h2>
              <div>
                <p >Choice Coin is not just a governance token; rather, it is a representation of a world that is moving toward decentralization and openess. </p>
                <img src="https://siasky.net/EAD8NJMejpi-MCtxdtuxtyS6xYdKPtoX55mslejYCQyl_w" alt="Choice Coin" width="100" height="100">
              </div>
              
          </div>
      </div>


      <div class="sub-main-child" id="child-3">
          <h2>Voting Algorithms that allow everyone to have a say</h2>
          <p>Fortior's voting algorithm is simple; it allows anyone who should have a say vote without difficulty.</p>
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
<%- include("./partials/footer"); %>