<div class="ant-head" style="background-color: #0050b3; padding: .8em">
  <div class="ant-row">
    <div class="ant-col ant-col-9">
      <a href="/">
        <span class="ant-page-header-heading-title" style="color: white">Choice Coin</span>
      </a>
    </div>
    <div class="ant-col ant-col-9">
      <div class="ant-row">
        <div class="ant-col ant-col-6">
          <a href="{{ url_for('add_voter') }}" style="color: white; padding-right: 1.2em"><span>Add Voter</span>
          </a>
        </div>
        <div class="ant-col ant-col-6">
          <a href="{{ url_for('create') }}" style="color: white; padding-right: 1.2em"><span>Add Project</span>
          </a>
        </div>
        <div class="ant-col ant-col-6">
          <a href="{{ url_for('projects') }}" style="color: white; padding-right: 1.2em"><span>View Projects</span>
          </a>
        </div>
        <div class="ant-col ant-col-6">
          <a href="{{ url_for('end') }}" style="color: white; padding-right: 1.2em"><span>End Vote</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>