{% extends 'base.html' %}
{% block content %}
{% if message %}
<div class="result-cont">
  <p class="closer" onclick="closer()">&times;</p>
  <h3><p style="color:green">{{ message }}</p></h3>
</div>
{% else %}
{% if error %}
<div class="result-cont">
  <p class="closer" onclick="closer()">&times;</p>
  <p style="color:red">{{ error }}</p>
</div>
{% endif %}
{% endif %}

<div class="head">
    <h1>Adding a stakeholder</h1>
</div>

<p class="info">Please enter the stakeholder's information below. Contact your system administrator if you are missing this information.</p>

<div class="add-voter-cont">
  <form action="" method = "post">
    <div>
      <label for = "main_5">Stakeholder's Name:</label>
      <input id = "main_5" type = "text" name = "Name" placeholder="John Smith"><br>
    </div>

    <div>
      <label for = "main_1">Ownership Stake as percentage:</label>
      <input id = "main_1" type = "number" name = "Stake" size = "40" placeholder = "20"><br>
    </div>

    <div>
      <label for = "main">Stakeholder's Secret Key:</label>
      <input id = "main" type="password" name="Secret" placeholder="Secret Key"><br>
    </div>

    <div>
      <label for = "main_4">Administrator Key:</label>
      <input id = "main_4" type = "password" name = "Main" placeholder = "Administrator Key"><br>
    </div>

    <button class="button" style="margin-bottom: 100px;">
      Add Voter
    </button>
  </form>
</div>
{% endblock content %}