{% extends 'base.html' %}
{% block content %}
    <div class="head">
      <h1>Start voting process with Choice Coin</h1>
    </div>
    
    <!--HERO SECTION -->
    <p class="info">Start the voting process here <span style="font-weight: bold;">(Administrative Priveleges Required)</span></p>
    
    {% if message %}
    <div class="result-cont">
      <p class="closer" onclick="closer()">&times;</p>
      <h3><p style="color:green" class="message">{{ message }}</p></h3>
    </div>
      {% else %}
      {% if error %}
      <div class="result-cont">
        <p class="closer" data-status="error" onclick="closer()">&times;</p>
        <p style="color:red" data-status="error" class="message">{{ error }}</p>
      </div>
      {% endif %}
      {% endif %}

    <!-- CONTENT -->
  <form action="" method = "post">
    <div class="generic-form">      
      <label for = "main">Administrative Key:</label>
      <input id = "main" type="password" name="Key" placeholder="Administrative Key"><br>
    </div>

    <input class="button" type="submit" value="Start Voting">
  </form>

{% endblock content %}