* {
  padding: 0;
  margin: 0;
}
#h3m {
  margin-top: 40px;
  margin-left: 60px;
}
#ff {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #378805;
  color: white;
}
#rew {
  padding: 10px;
}
#dol {
  margin-top: 5px;
  padding: 5px;
  margin-left: 16%;
}
.sub {
  display: flex;
  align-items: center;
}
#imgatge {
  margin-left: -200px;
  margin-top: 100px;
}
#choice_icon {
  position: absolute;
  width: 250px;
  height: 200px;
}
#mm {
  display: flex;
  border: solid;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  background: grey;
  justify-content: space-between;
}
ul {
  width: 100%;
  margin-left: 10%;
}
#listItems {
  width: 69.8%;
  color: white;
  padding: 5px;
  margin: 2px;
}
