
<div class="modal-root">
    <div class="ReactModalPortal"></div>
    <div class="ReactModalPortal">
        <div class="ReactModal__Overlay ReactModal__Overlay--after-open">
            <div class="ReactModal__Content ReactModal__Content--after-open modal connect-wallet-modal connect-wallet-modal--select-type-view"
                tabindex="-1" role="dialog" aria-label="Connect Wallet" aria-modal="true">
                <header class="modal-header modal-header--has-no-title"><button
                        data-testid="ConnectWalletModal.ModalHeader.close-button"
                        class="button modal-header__close-button button--primary button--regular typography--body typography--body-semibold"
                        type="button"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4L4 20M20 20L4 4" stroke="#0A0A0A" stroke-width="1.5"></path>
                        </svg></button></header>
                <div class="modal-body modal-content connect-wallet-modal-select-type-view__body">
                    <div class="connect-wallet-modal-select-type-view__body__description">
                        <h1 class="typography--h2 connect-wallet-modal-select-type-view__body__description-header">
                            Connect your wallet account</h1>
                        <p>Algorand governance platform lets you vote on important ecosystem decisions.</p>
                    </div>
                    <ul class="list connect-wallet-modal-select-type-view__wallet-type-list"
                        data-testid="ConnectWalletModalSelectTypeView.provider-list">
                        <li class="list-item connect-wallet-modal-select-type-view__wallet-type-list__item">
                            <div role="button" tabindex="0" class="list-item__click-wrapper"><img
                                    src="https://algorand-governance-platform-web.s3.amazonaws.com/static/media/AlgoSigner.221f3392.svg"
                                    alt="AlgoSigner Logo">
                                <div>AlgoSigner</div>
                            </div>
                        </li>
                        <li class="list-item connect-wallet-modal-select-type-view__wallet-type-list__item">
                            <div role="button" tabindex="0" class="list-item__click-wrapper"><img
                                    src="https://algorand-governance-platform-web.s3.amazonaws.com/static/media/MyAlgoLogo.30ab0664.svg"
                                    alt="My Algo Wallet Logo">
                                <div>My Algo Wallet</div>
                            </div>
                        </li>
                        <li class="list-item connect-wallet-modal-select-type-view__wallet-type-list__item">
                            <div role="button" tabindex="0" class="list-item__click-wrapper"><img
                                    src="https://algorand-governance-platform-web.s3.amazonaws.com/static/media/AlgoMobileWallet.e3870ce7.svg"
                                    alt="Algorand Wallet Logo">
                                <div>Algorand Wallet</div>
                            </div>
                        </li>
                        <li class="list-item connect-wallet-modal-select-type-view__wallet-type-list__item">
                            <div role="button" tabindex="0" class="list-item__click-wrapper"><img
                                    src="https://algorand-governance-platform-web.s3.amazonaws.com/static/media/Other.eac2bef4.svg"
                                    alt="Other Wallets Logo">
                                <div>Other Wallets</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
