/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  max-width: 450px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(204, 210, 216);
}
#choice {
  width: 350px;
  position: absolute;
  top: 28%;
  left: 100px;
  height: 350px;
}
#algo {
  position: absolute;
  top: 15%;
  right: 50px;
  width: 500px;
  height: 500px;
}
.glow::before,
.glow::after {
  content: "";
  position: absolute;
  top: 165px;
  right: 569.9px;
  border-radius: 5px;
  z-index: -1;
  background: linear-gradient(
    45deg,
    #1e2006,
    #04fbe6,
    #1e2006,
    #2e3106,
    #fa770c,
    #e21d1d
  );
  background-size: 400%;
  width: 460px;
  height: 460px;
}
#but {
  padding: 8px;
  color: white;
  margin-top: 50px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border: none;
  border-radius: 5px;
}
.headI {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
#ch {
  font-size: 38px;
  margin-top: 10px;
  padding: 10px;
}
.in {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#se {
  font-size: 17px;
}
.radi {
  width: 150px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.submit {
  width: 250px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  color: white;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 5px;
  border: none;
}
