.landing {
  width: 100vw;
  overflow: hidden;
  position: relative;
  padding: var(--sm-hd-height) 0vw 0px;
  color: var(--txt-alt);

  display: flex;
  align-items: center;
  flex-direction: column;
}
/* **************** */
.land_cov {
  z-index: 2;
  padding-top: 25vh;

  width: 500px;
  max-width: 85vw;
  margin-bottom: 15vh;
}

.landing .Marquee__Wrapper {
  margin: 0px !important;
  padding-top: 0px !important;
}

.land_item1 {
  width: 100%;
  color: var(--wht);
}
.land_item1 .hdy {
  opacity: 0.9;
  display: flex;
  font-size: 33px;
  margin: 13px 0px;
  font-weight: 400;
  line-height: 45px;
  margin-bottom: 30px;
  letter-spacing: 0.7px;
}

.land_item1 .suby {
  opacity: 0.8;
  display: flex;
  font-weight: 400;
  margin: 13px 0px;
  line-height: 23px;
  letter-spacing: 0.3px;
}

.light_theme .land_item1 .hdy {
  font-weight: 500;
}
.light_theme .land_item1 .suby {
  font-weight: 500;
  opacity: 0.9;
}

.land_item2 {
  width: 100%;
  min-height: 250px;
  padding: 20px;
  margin: 0px 0px 70px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 180px;
  /* background: var(--back-1); */
}
